body {
    background-color: #0d1023;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(45deg, #00ff6a, #ffad00, #ff0057, #00e0ff);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
}

.circle {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #1d1d2c;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1), 0 0 15px rgba(0, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.time {
    font-size: 50px;
    font-weight: bold;
    color: #ff0057; /* Her circle için renk geçişi ayarlayabiliriz */
}

.label {
    margin-top: 10px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

#hours {
    color: #ff0057;
}

#minutes {
    color: #ffad00;
}

#seconds {
    color: #00e0ff;
}

.circle:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3), transparent 50%);
    z-index: 0;
}
